.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.page-content {
    flex: 1; 
    overflow-y: auto; 
}

.welcome-section {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}
  
.welcome-section h2 {
    font-size: 42px;
}
  
.welcome-section p {
    font-size: 18px;
}

.registerCourse, .registeredCourses {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
}

table {
    width: 75%;
    margin-top: 24px;
    border-collapse: collapse;
}

.courseRegisterTable, .studentRegisteredTable {
    max-height: 500px;
    overflow-y: auto; 
    max-width: fit-content;
    display: block;
}
  
.courseRegisterTable thead, .studentRegisteredTable thead {
    position: sticky;
    top: 0;
}

th, td {
    border: 1px solid #000000;
    padding: 16px;
    text-align: center;
}

th {
    background-color: #ffa245;
}

tr:nth-child(even) {
    background-color: #ffb66d;
}

tr:hover {
    background-color: rgb(255, 139, 23);
    transition: background-color 0.15s ease;
}

tr:hover td {
    transition: opacity 0.15s ease; 
}

.unenroll, .enroll, .enrolled {
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
}

.enroll{
    background-color: rgb(125, 255, 105);
}

.enrolled{
    background-color: rgb(214, 255, 207);
}

.enrolled:hover{
    cursor: not-allowed;
}

.unenroll{
    background-color: rgb(255, 105, 105);
}

.unenroll:hover {
    background-color: rgb(156, 0, 0);
}

.enroll:hover {
    background-color: rgb(21, 156, 0);
}

.studentRegisteredMenu, .studentRegisterMenu{
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 35%;
    text-align: center;
    color: black;
}

.error, .success, .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 12px;
    border-radius: 4px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.success {
    background-color: rgb(172, 239, 157);
    border: 1px solid rgb(74, 252, 35);
    color: rgb(29, 156, 0);
}

.error{
    background-color: rgb(255, 214, 214);
    border: 1px solid rgb(255, 141, 141);
    color: rgb(156, 0, 0);
}

.footer{
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.loading {
    text-align: center;
    padding: 16px;
    margin-top: 24px;
    font-weight: bold;
    color: black; 
}

.page-buttons {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
    position: absolute; 
    bottom: 2vh;
    width: 100%; 
}
  
.page-buttons button {
    padding: 10px 20px;
    margin: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    background-color: #ffa245;
    transition: background-color 0.3s ease;
    color: black;
}
  
.page-buttons button:hover {
    background-color: #ff7f00;
}

.page-buttons button.active {
    background-color: #ff7f00;
  }

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .welcome-section h2 {
        font-size: 24px;
    }

    body{
        font-size: 14px;
        text-align: center;
    }

    .studentRegisteredMenu, .studentRegisterMenu{
        text-align: center;
        width: 70%;
    }

    table {
        width: 100%;
    }

    .courseRegisterTable, .studentRegisteredTable {
        max-height: 375px;
    }

    th, td {
        padding: 8px; 
    }

    .footer {
        padding: 8px;
    }

    .unenroll, .enroll, .enrolled {
        padding: 4px;
    }

    .page-buttons{
        bottom: 1vh;
    }
}